@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700,800');
	
/*  ==========================================================================
    Common Styles
    ========================================================================== */

/*Background Gradiant*/
.gradiant {
    background: #4ABDAC;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #777;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

h1 {
    color: #4ABDAC;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing:antialiased;
    position: relative;
    line-height: 125%;
    left: 15px;
    top: 15px;
    padding: 10px 10px;
}

h2 {
    color: #333;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing:antialiased;
    position: relative;
    left: 15px;
    top: 0;
    padding: 10px 10px;
}

h3 {
    color: #333;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing:antialiased;
    position: relative;
    left: 15px;
    top: 0;
    padding: 10px 10px;
}

p {
    font-size: 14px;
    position: relative;
    left: 25px;
    top: 0;
    padding-right: 45px;
}

/* ==========================================================================
   Scroll To Top
   ========================================================================== */
#scroll-to-top{
    background: #F7B733;
    display: none;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    line-height: 45px;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}
#scroll-to-top:hover{
    background-color: #F7B733;
    color: #fff;
}
